#caja-dibujo3 {
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    justify-self: center;
    align-content: space-around;
    padding-left: 5%;
    border: solid black 1px;
    text-align: center;
}

table tr *{
    text-align: center;
  }

table {
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding: 5px;
}

#vector-fuerzas, #vector-fint, #vector-reducido, #desplazamiento-nodos{
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding: 5px;
    text-align: center;
    
}

svg {
    margin: 2rem;
    border: 1px solid black;
    fill: #383838;
    /* percentage of viewport - height will autocalculate */
    width: auto;
    height: auto;
  }