.sub-title {
    justify-content: left;
}

.config-paso-1 {
    justify-content: space-around;
    padding-left: 10%;
}

.save-btn {
    padding-left: 10%;
}

.btnPaso {
    background-color: #2f8ee7;
    color: rgb(245, 245, 245);
}