.sub-title {
    justify-content: left;
    padding-left: 5%;
}

.config-paso-1 {
    justify-content: space-around;
    padding-left: 10%;
}

.save-btn {
    padding-left: 10%;
    justify-items: center;
    align-items: center;
}

.btnPaso {
    background-color: #2f8ee7;
    color: rgb(245, 245, 245);
    text-emphasis-color: white;
    text-decoration-color: white;
}

.btnPaso:hover {
    background-color: #e21818;
    color: rgb(245, 245, 245);
}

svg {
    border: solid red 1px;
    justify-self: center;
}

.btnPaso2 {
    background-color: #2fe747;
    color: rgb(245, 245, 245);
}

.default *{
    background-color: rgb(216, 216, 216);
    justify-content: center;
    justify-self: center;
    padding-inline: 0%;
    border: solid black 1px;
    text-align: center;
}